{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block content %}

<section class="about" id="about">

    <h1 id='heading' class="heading"><span id="span">about</span> us</h1>
    <div class="row">

        <div class="image">
            <img src="./static/pictures/about.jpeg" alt="">
        </div>

        <div class="content">
            <h3>What makes our coffee special?</h3>
            <p>Coffee has always been a part of people's life since time immemorial. Whether you nurse a cup of java in the morning or sip a coffee latte frappe in the evening, it can make a world of difference. Not only does the caffeine make you alive and kicking, but it also has various health benefits.</p>
            <p>At this point, you may have been acquainted with the words speciality coffee. For the uninitiated, speciality coffee is coffee graded above 80, according to the Speciality Coffee Association (SCA). It means that the coffee quality is beyond the final product served on your cup. Its quality springs from the start—the type of coffee beans grown, the region, roasting, and brewing, down to the actual coffee served right under your nose.</p>
            <a href="" class="btn">Learn more</a>
        </div>

    </div>

</section>

{% endblock content %}