{% extends 'base.html' %}

{% block title %} Cart {% endblock title %} 

{% block content %}




<section class="cart" id="cart">

    <h1 class="heading_cart"> Cart </h1>
  
    <div class="box-container">
      {% for product in products %}
  
  
      <div class="box">
        <img src="{{ product.image_url }}" alt="">
        <h3>{{ product.name }}</h3>
        <div class="price">${{ product.price }}</div>
        <form action="{{ url_for('product_delete', product_id=product.id) }}" method="POST">
            <input class="btn" type="submit" value="Delete">
          </form>
      </div>

      {% endfor %}   

    </div>

    <div action="{{ url_for('my_product') }}">
        <h1>{{ total }}</h1>
    </div>

      {% if products %}
    <a href="" id="order" class="btn">Order</a>
      {% endif %}
   
  </section>
  


{% endblock content %}