{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
    <section class="home" id="home">
        <div class="content">
            <h3>Fresh coffee <span>in the morning</span></h3>
            <p>There's more to speciality coffee than the looks of it. If there's one great thing about it, that is its quality. If you visit a coffee shop and see a good, experienced barista do their job, you'll be amazed. You'll notice the barista weigh the coffee beans on a scale, grind them, and pour them with a unique technique.</p>
            <a href="products" class="btn">get yours now</a>
        </div>

    </section>

{% endblock content %}