{% extends 'base.html' %}

{% block title %} Products {% endblock title %} 

{% block content %}


<section class="product" id="product">

  <h1 class="heading"> our <span>products</span></h1>

  <div class="box-container">
   
    {% for product in products %}

    <div class="box">
      <img src="{{ product.image_url }}" alt="">
      <h3>{{ product.name }}</h3>
      <div class="price">${{ product.price }} <span>$7.99</span></div>
      <form action="{{ url_for('add_to_cart', product_id=product.id) }}" method="POST">
        <input class="btn_add" type="submit" value="Add to cart">
      </form>
      <form action="{{ url_for('add_description', product_id=product.id) }}" method="POST">
        <input class="btn_learn" type="submit" value="Learn More">
      </form>

    </div>

    {% endfor %}


  </div>

</section>


{% endblock content %}






